@model NLayer.Core.DTOs.ProductWithCategoryAndFeatureDto

<form method="post" action="/Product/Edit">
    @Html.HiddenFor(x=>x.Id)
    @Html.HiddenFor(x=>x.CreatedDate)

    <div class="mb-3">
    
        <label for="Name" class="form-label">Ürün Adı</label>
        <input type="text" class="form-control" asp-for="Name">
        @Html.ValidationMessageFor(x=>x.Name)
        <label for="CategoryId" class="form-label">Kategori</label>
        @Html.DropDownListFor(x=>x.CategoryId,null,htmlAttributes:new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.CategoryId)
        <label for="Price" class="form-label">Ürün Fiyatı</label>
        <input type="text" class="form-control" asp-for="Price">
        @Html.ValidationMessageFor(x=>x.Price)
        <label for="Stock" class="form-label">Stok Miktarı</label>
        <input type="text" class="form-control" asp-for="Stock">
        @Html.ValidationMessageFor(x=>x.Stock)

        <label for="ProductFeature.Height" class="form-label">Boy</label>
        <input type="number" class="form-control" asp-for="ProductFeature.Height">
        <label for="ProductFeature.Width" class="form-label">En</label>
        <input type="number" class="form-control" asp-for="ProductFeature.Width">
        <input type="hidden" asp-for="ProductFeature.Id"/>
        <label for="ProductFeature.Color" class="form-label">Renk</label>
        <input type="text" class="form-control" asp-for="ProductFeature.Color">
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>